* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #333;
  padding: 20px;
  color: white;
  overflow: hidden;
  width: 100%;
}

.top-section, .bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 30px;
}

.section1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.org.first-org {
  width: 40%;
}

.programs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.other-text {
  display: flex;
  align-items: center;
  color: #fff;
  flex-direction: row;
  justify-content: space-between; 
  margin: 0 30px; 
  margin-right: 170px;
  width: 600px; 
}

.other-text > div {
  font-size: 0.8em; 
  margin: 0 20px; 
  position: relative;
}

.other-text > div:not(:last-child)::after {
  content: '';
  height: 20px;
  border-left: 1px solid #807c7c;
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.icon-row {
  display: flex;
  justify-content: space-around;
  width: 270px;
}

.fa-circle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  color: #a8a2a2;
  border: 0.4px solid rgb(180, 172, 172);
}

.fa-icon {
  font-size: 0.7em;
}

.org {
  width: 20%;
  padding: 0 10px;
}

.org> h1 {
  color: olivedrab;
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
}

div h2 {
  font-size: 15px;
  line-height: 10px;
  margin-top: 2px;
  color: white;
}

.org p, .org .program-item {
  font-size: 13px;
  line-height: 1.6;
}

.org p {
  margin-top: 10px;
}

.cute-font {
  font-family: 'Gluten', cursive;
  font-size: 36px;
}

.colored-word {
  display: inline-block;
}

.colored-word span {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.colored-word .first-half {
  color: darkolivegreen;
}

.colored-word .second-half {
  color: white;
}

.number-text {
  font-size: 15px;
  font-weight: 100;
  color: #ffffff;
}

.icon {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icon i {
  font-size: 36px;
  color: #ffffff;
  margin-right: 10px;
}

.whatsapp-text {
  font-size: 9px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 1.5px;
}
